#rowAlign{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-right: 1vw;

}
.card button{
    width: 18vw;
    align-self: center;
    margin-top: 4vh;
    margin-right:3vw ;
    margin-bottom: 2vh;
}


.row{
   margin-right: 0;
   margin-left: 0; 
 
}


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    font-family: 'Permanent Marker', cursive;
    /* overflow-x: hidden; */
}